@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6eed8;
}
.image {
  background-size: cover !important;
}
li a {
  font-size: 1rem;
  margin-right: 0.5rem !important;
  outline: 1px solid #c19167;
  padding: 3px;
}
